doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title <%= title %>

    link(rel='stylesheet', type='text/css', href='build/build.css')

  body<% if (animateCss) { %>.animated.rollIn<% } %>

    main
      h1 'Allo, 'Allo!
      img(src='https://nodejs.org/images/logos/nodejs-dark.png')
      h3 You have now :
      ul
        li Jade
        li Stylus
        <% if (jQuery || imgProgress || velocity) { %>li jQuery <% } %>
        <% if (imgProgress) { %>li ImgProgress <% } %>
        <% if (velocity) { %>li VelocityJS <% } %>

    script(src='build/build.js')
